<div class ="single-show">
    {{!-- <img src="{{image_url}}" alt="image-of-show" style="width: 50px;"> --}}
    <br>
    <a href="/show/{{id}}">{{name}}</a>
    <p>{{genre}}</p>
    <p>{{rating}}</p>
    <p>{{synopsis}}</p>
    {{!-- <p>{{image}}</p>  --}}
</div>